<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', media: "all", "data-turbo-pack": "reload" %>
    <%# javascript_importmap_tags %>
  </head>

  <body>
    <div class="container container-md">
      <%= render partial: "partials/menu" %>
      <hr />

      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="text-center text-muted p-4 bg-light mt-5 flex flex-column">
      <div>Address Book &copy; 2023 - Jan Malčák</div>
      <%= link_to 'About', about_path, class: "link-secondary" %>
    </footer>
  </body>
</html>
